<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>博客</title>
	<link rel="stylesheet" href="/lib/bootstrap-3.3.7/css/bootstrap.css">
	<link rel="stylesheet" href="css/conmon.css">
</head>
<body>
	<!-- nav区域开始 -->
		<nav class="navbar navbar-default" id="nav">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 	data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				  	  	<span class="sr-only">Toggle navigation</span>
				  	  	<span class="icon-bar"></span>
				  	  	<span class="icon-bar"></span>
				  	  	<span class="icon-bar"></span>
				  	</button>
				  	<a class="navbar-brand" href="#">我的个人博客</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  	<ul class="nav navbar-nav">
				  	  	<li class="active"><a href="#">首页<span class="sr-only">(current)</span></a></li>
				  	  	<li><a href="#">HTML/CSS</a></li>
				  	  	<li><a href="#">JavaScript</a></li>
				  	  	<li><a href="#">JQuery</a></li>
				  	  	<li><a href="#">Java</a></li>
				  	</ul>
				  
				  	<ul class="nav navbar-nav navbar-right">
				  	  	<li><a href="#">我的足迹</a></li>
				  	</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	<!-- nav区域结束 -->
	<!-- section区域开始 -->
		<div class="section">
			<div class="container">
				<!-- 左边区域 -->
				<div class="section-main">
					<div class="section-article">
						<div class="article-list">
							<span class="article-title">
								移动设备优先
							</span>
							<p class="article-text">
								移动终端设备找深圳市泰利信息技术有限公司，深圳市泰利信息技术有限公司是一家面向通信、电力、税务、交通、金融、能源等行业，公司是提供专业自助服务产品与服务的高新技术企业，是国内很早从事各类通信行业自助服务的公司。是深圳市高新技术企业、双软企业，拥有自己的专利软件，产品已通过国家3C认证、双软等相关认证。
							</p>
						</div>
						<div class="article-list">
							<span class="article-title">
								移动设备优先
							</span>
							<p class="article-text">
								移动终端设备找深圳市泰利信息技术有限公司，深圳市泰利信息技术有限公司是一家面向通信、电力、税务、交通、金融、能源等行业，公司是提供专业自助服务产品与服务的高新技术企业，是国内很早从事各类通信行业自助服务的公司。是深圳市高新技术企业、双软企业，拥有自己的专利软件，产品已通过国家3C认证、双软等相关认证。
							</p>
						</div>
						<div class="article-list">
							<span class="article-title">
								移动设备优先
							</span>
							<p class="article-text">
								移动终端设备找深圳市泰利信息技术有限公司，深圳市泰利信息技术有限公司是一家面向通信、电力、税务、交通、金融、能源等行业，公司是提供专业自助服务产品与服务的高新技术企业，是国内很早从事各类通信行业自助服务的公司。是深圳市高新技术企业、双软企业，拥有自己的专利软件，产品已通过国家3C认证、双软等相关认证。
							</p>
						</div>
						<div class="article-list">
							<span class="article-title">
								移动设备优先
							</span>
							<p class="article-text">
								移动终端设备找深圳市泰利信息技术有限公司，深圳市泰利信息技术有限公司是一家面向通信、电力、税务、交通、金融、能源等行业，公司是提供专业自助服务产品与服务的高新技术企业，是国内很早从事各类通信行业自助服务的公司。是深圳市高新技术企业、双软企业，拥有自己的专利软件，产品已通过国家3C认证、双软等相关认证。
							</p>
						</div>
					</div>
				</div>
				
				<!-- 右边图片区域 -->
				<div class="section-introduce">
					<!-- 登陆注册区域 -->
					<div class="login-html">
						<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
						<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
						<div class="login-form">
							<div class="sign-in-htm">
								<div class="group">
									<label for="user" class="label">Username</label>
									<input id="user" type="text" class="input">
								</div>
								<div class="group">
									<label for="pass" class="label">Password</label>
									<input id="pass" type="password" class="input" data-type="password">
								</div>
								<div class="group">
									<input id="check" type="checkbox" class="check" checked>
									<label for="check"><span class="icon"></span> Keep me Signed in</label>
								</div>
								<div class="group">
									<input type="submit" class="button" value="Sign In">
								</div>
								<div class="hr"></div>
								<div class="foot-lnk">
									<a href="#forgot">Forgot Password?</a>
								</div>
							</div>
							<div class="sign-up-htm">
							<div class="group">
								<label for="user" class="label">Username</label>
								<input id="user" type="text" class="input">
							</div>
							<div class="group">
								<label for="pass" class="label">Password</label>
								<input id="pass" type="password" class="input" data-type="password">
							</div>
							<div class="group">
								<label for="pass" class="label">Repeat Password</label>
								<input id="pass" type="password" class="input" data-type="password">
							</div>
							<div class="group">
								<label for="pass" class="label">Email Address</label>
								<input id="pass" type="text" class="input">
							</div>
							<div class="group">
								<input type="submit" class="button" value="Sign Up">
							</div>
							<div class="hr"></div>
							<div class="foot-lnk">
								<label for="tab-1">Already Member?</a>
							</div>
							</div>
						</div>
					</div>





					<div class="aside">
						<ul class="aside-list">
							<li class="list-item"><a href=""><img src="images/aside_01.jpg" alt=""></a></li>
							<li><a href=""><img src="images/aside_02.jpg" alt=""></a></li>
						</ul>
					</div>
					<span class="introduce-title"><strong>博主介绍</strong></span>
					<div class="introduce-img"></div>
					<p class="introduce-text">
					    <span><strong>Tom</strong></span>
					    <br>
						博主很菜，在千年名校里天天被各路神仙吊起来打啊。。。。。
						不过一点一点努力总会积少成多吧。
						但既然选择了这条路，跪着也要走完啊。。。。
						摘一段写的很好的文字：
						我们是OIer， 所以我们 不用在跑道上挥汗如雨； 不用在球场上健步如飞； 更不用在没事的时候， 经受非人的体能训练……
						但是， 我们却要把头脑 高速运转， 还要接受一大堆 大学生也只是 “了解即可”的知识， 把一个个抽象的问题 转化为一篇篇 优美的代码， 才能在F9按下以后 获得欢呼。
						不要以为我们 机房里没有风吹， 没有日晒， 就比勤劳的体育生们轻松， 只不过是大脑和四肢 的区别罢了。
					</p>
				</div>

			</div>
		</div>
	<!-- section区域结束 -->
	
</body>
<script src="JS/jquery.js"></script>
<script src="/lib/bootstrap-3.3.7/js/bootstrap.js"></script>

</html>